<div class="row">
	<div class="col-md-12">
		<%= form_for @history, url: {action: 'create'}, html: {class: "cinform"} do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<p> <strong> CIN: </strong><%= f.text_field :cin, class: "form-input" %></p>
			<p><%= f.submit "Decode CIN" %></p>
			<%= link_to "Check your search history", history_index_path %>
		<%end%>
	</div>
</div>